@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #323234;
    color: white;
    height: 100%;
}
ul li{
    list-style: none;
}
nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    padding-left: 8%;
    font-size: 1.4em;
    width: 40%;
}
.clr {
    color: #00FBFC;
}
.navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 150px;
    font-size: 1.2em;
}
#hamburger {
    font-size: 2em;
    display: none;
}
#hamburgerN {
    font-size: 2em;
    display: none;
}
.navbar ul {
    display: flex;
    align-items: center;
    
}
.navbar ul li {
    margin-right: 50px;
    list-style: none;
    padding-bottom: 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: #00FBFC;
    text-shadow: 0px 0px 30px #00FBFC;
}
.active:hover{
    border-bottom: 3px solid #00FBFC;
    
}

/*Hero section*/
#hero{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.leftside{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prof-pic{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px #00FBFC;
    border: 8px solid #00FBFC;
}

.prof-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits inside the circle */
}
.rightside{
    width: 60%;
    /*background-color: rgb(104, 104, 103);*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}
.rightside h3{
    font-weight: 500;
    font-size: 2.7em;
}
.rightside h1{
    font-size: 4em;
    font-weight: 800;
}
.typewriter-container{
    font-size: 2.7em;
}
.rightside p{
    font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-right: 300px;
}
/*Type writer*/
.static-text {
    color: #ffffff; /* Color of the static "And I am" text */
}

#typewriter {
    color: #19ECF9; /* Color of the typewriter strings */
}

.cursor {
    font-weight: bold;
    color: #00ffcc;
    animation: blink 0.7s infinite;
}
.social-box{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0px;
    margin:30px 0 20px 0;
    align-items: center;
    justify-content: space-between;
}
.box{
    width: 50px;
    height: 50px;
    border: 3px solid #00FBFC;
    display: flex;
    margin: 0 10px 0 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
.box:hover{
    box-shadow: 0px 0px 30px #00FBFC;
    cursor: pointer;
}
.box a{
        text-decoration: none;
        color: #00FBFC;
        
}
#cvdownload{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #00FBFC;
    cursor: pointer;
    font-size: 1.1em;
}
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

/*About section*/
.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
}
.about_tittle{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 10px 10px 10px;
    font-size: 2em;
}
.about_main{
    width: 100%;
    height: 100%;
    display: flex;
}
.about_left{
    width: 60%;
    height: 100%;
    font-size: 1.3em;

}
.about_left ul{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 0px 100px;
}
.about_left ul li{
    list-style: none;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-bottom: 2px solid #00FBFC;
}
.left-bar{
    border-left: 2px solid #00FBFC;
}
.about_right{
    width: 40%;
    height: 100%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-box{
    width: 400px;
    height: 350px;
    border-radius: 40px;
    background-color: #7f737371;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:rotate(170deg);
    box-shadow: 0px 0px 50px #00FBFC;
    border: 2px solid #19ECF9;
}
.inner-box{
    width: 400px;
    height: 350px;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}
.inner-box img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.cvsec{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.cvdownload{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #00FBFC;
    cursor: pointer;
    font-size: 1.1em;
}

/*Skills section*/
.skill{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    margin-top: 20px;
}
.skill-tittle{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    font-size: 2em;
}
.skill-main{
    /*background-color: green;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}
.skill-sec{
    width: 450px;
    height: auto;
    padding: 10px;
    background-color: #7f737371;
    display: flex;
    flex-direction: column;
    border-radius: 50px; 
    transition: .5s ease;  
}
.skill-sec:hover{
    box-shadow: 0px 30px 30px #08c4ce;
    transform: translateY(-60px);
}
.skill-domain{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.skill-repr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
    padding: 20px;
}
.skill-repr li{
    padding: 10px;
   /* background-color: black;*/
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}
.skill-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-pic-box{
    width: 100%;
    height: 10px;
    background-color:#a7a0a0bf ;
    display: flex;
    border-radius: 10px;
}
.inner-percent{
    background-color:#00FBFC;
    border-radius: 10px;
}
/*Web*/
#html_css{
    width: 90%;
}
#javascript{
    width: 80%;
}
#react{
    width: 60%;
}
#mysql{
    width: 86%;
}
#php{
    width: 70%;
}
/*software*/


/* Responsive design */
@media screen and (min-width: 200px) and (max-width: 426px) {
    nav {
        font-size: 0.65em;
        height: auto;
        background-color: #444444;
        transition: max-height 0.3s ease-in-out;
    }
    .logo {
        width: 100%;
        padding-left: 20px;
        
    }
    .navbar {
        width: 100%;
        padding-right: 10px;
        
    }
    #hamburger {
        display: flex;
        align-items: center;
    }
    #hamburgerN {
        display: none;
        align-items: center;

    }
    #nav_list {
        display: none; /* Initially hidden */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center horizontally */
        gap: 20px; /* Adds gap between list items */
        padding: 20px 0; /* Optional: adds vertical padding */
        width: 100%;
        font-size: 1.9em;
    }
    
    
    /*Hero section*/
    #hero{
        flex-direction: column;
    }
    .leftside{
        width: 100%;
        height: 40vh;
    }
    .prof-pic{
        width: 200px;
        height: 200px;
        border: 3px solid #00FBFC;
    }

    .rightside{
        width: 100%;
        padding:0px 20px 0 30px;
    }

    .rightside h3{
        font-size: 1.5em;
    }
    .rightside h1{
        font-size: 2em;
    }
    .rightside p{
        font-size: 0.7em;
        padding: 1px;
    }
    .typewriter-container{
        font-size: 1.5em;
    }
    
    /*Type writer*/
   
    .social-box{
        width: 300px;
        height: 20px;
        display: flex;
        flex-direction: row;
        padding: 20px 20px 20px 0px;
        margin:20px 0 20px 0;
        align-items: center;
        
        justify-content: space-between;
    }
    .box{
        width: 50px;
        height: 50px;
        border: 2px solid #00FBFC;
        display: flex;
        margin: 0 10px 0 0;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }
    .box a{
            text-decoration: none;
            color: #00FBFC;
            
    }
    #cvdownload{
        margin-top: 8px;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        background-color: #00FBFC;
        cursor: pointer;
        font-size: 0.8em;
    }
    .cvdownload{
        margin-top: 8px;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        background-color: #00FBFC;
        cursor: pointer;
        font-size: 0.8em;
    }
    /*About section*/
    .about{
        margin: 10p;
        height: 650px;
    }
    .about_tittle{
        padding: 50px 10px 10px;
        font-size: 1.5em;
    }
    .about_left{
        width: 90%;
        height: 100%;
        font-size: 1.3em;
    
    }
    .about_left ul{
        margin: 20px 0px 0px 10px;
        font-size: 0.8em;
    }
    .about_left ul li{
        list-style: none;
        margin: 10px 0px 10px 0px;
        padding: 10px;
        border-bottom: 2px solid #00FBFC;
    }
    .left-bar{
        border-left: 2px solid #00FBFC;
    }
    .about_right{
        font-size: 1.3em;
        display: none;
    }

    /*skill section*/
    .skill{
        height: 180vh;
    }
    .skill-tittle{
        height: 100px;
        font-size: 1.5em;
        
    }
    .skill-main{
        /*background-color: green;*/
        flex-direction: column;
        padding-top: 0px;
        
        margin-top: 0px;
        align-items: center;
    }
    .skill-sec{
        width: 300px;
    }
    .skill-sec:hover{
        box-shadow: 0px 0px 20px #08c4ce;
        transform: translateY(0px);
    }
    .skill-repr{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /*background-color: yellow;*/
        padding: 10px;
        font-size: 0.9em;
    }
    .skill-repr li{
        padding: 7px;
       /* background-color: black;*/
        margin: 5px 0 0px 0;
        display: flex;
        flex-direction: column;
    }
    .skill-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .skill-pic-box{
        width: 100%;
        height: 10px;
        background-color:#a7a0a0bf ;
        display: flex;
        border-radius: 10px;
    }
    .inner-percent{
        background-color:#00FBFC;
        border-radius: 10px;
    }
   
}

